.user-categories {
  &__add-category {
    &-block {
      margin-bottom: -5px !important;
    }

    &-name-input-cell {
      flex-grow: 1;
    }

    &-type-select {
      min-width: 100px;
    }
  }
}