.left-sider {
  $self: &;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__main-menu-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    background-color: transparentize(#001529, 0.04);
  }

  &__wallets {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 10px;
  }

  &__additional-info {
    margin-top: auto;
    flex-shrink: 0;
  }

  &__menu-wrapper {
    flex-grow: 1;
    background-color: #001529;
    box-shadow: -1px 0px 9px -1px rgba(0,0,0,0.75);
    overflow: auto;
  }

  &__wallet-avatar {
    position: relative;
    cursor: pointer;
    background-color: #006d75;
    color: #ffffff;
  }

  &__user-avatar {
    position: relative;
    cursor: pointer;
    background-color: #d48806;
    color: #ffffff;
  }

  &__question-avatar {
    background-color: transparentize(#91d5ff, 0.9);
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__notifications-avatar {
    background-color: transparentize(#91d5ff, 0.7);
    cursor: pointer;
  }

  .active {
    #{$self}__main-menu-item {
      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        background-color: transparent;
        border-radius: 50%;
      }
    }

    #{$self}__wallet-avatar {
      &:before {
        border: 4px solid #d48806;
      }
    }

    #{$self}__user-avatar,
    #{$self}__question-avatar {
      &:before {
        border: 4px solid #006d75;
      }
    }
  }
}