.wallet-summary {
  position: relative;

  .ant-tabs-nav-list {
    width: 100% !important;
  }

  .ant-tabs-tab {
    display: flex;
    justify-content: center;
    width: 50% !important;
    margin: 0;

    & + .ant-tabs-tab {
      margin-left: 10px;
    }
  }
}