.users-slider {
  $self: &;

  &__user-wrapper {
    text-align: center;
    transition: transform 0.5s;
    transform: scale(1.1);
  }

  &__user {
    transition: font-weight 0.5s;
    font-weight: bold;
  }

  //.slick-active {
  //  #{$self}__user-wrapper {
  //    transform: scale(1.1);
  //  }
  //
  //  #{$self}__user {
  //    font-weight: bold;
  //  }
  //}
}